<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473747449579-uph2p8kuquj05gbiqhk56nv4n2mmp87p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473747449579-uph2p8kuquj05gbiqhk56nv4n2mmp87p</string>
	<key>API_KEY</key>
	<string>AIzaSyAcsbF6fcXHQqxtUaG1Q4u-OnZXfabcJTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>473747449579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Mason.Luke.ASUTrainingLog</string>
	<key>PROJECT_ID</key>
	<string>traininglog-5db2c</string>
	<key>STORAGE_BUCKET</key>
	<string>traininglog-5db2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473747449579:ios:4cad98937584cc368980ae</string>
	<key>DATABASE_URL</key>
	<string>https://traininglog-5db2c.firebaseio.com</string>
</dict>
</plist>